<div class = 'dialog-wrapper'>
    <form [formGroup]="candidate" name = 'candidateForm' class="candidate-form" >

        <h2>Add Candidate</h2>
        <hr>
        
           
        
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input required    name = 'fullName' matInput class="form-control" formControlName="fullName" >
            </mat-form-field>
           
        
        
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input required type="email"  name = 'emailInput' matInput class="form-control" formControlName="email">
             
            </mat-form-field>
          </p>
      
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input required name = 'birthDateInput' type="date" matInput class="form-control" formControlName="dateOfBirth">
            </mat-form-field>
          </p>
        
       
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Contact Number</mat-label>
              <input required  name = 'contactInput' matInput class="form-control" formControlName="contact">
            </mat-form-field>
          </p>
      

      </form>
      <button (click)="submit()" mat-flat-button color="primary">Submit</button>
      <button (click)="closeDialog()" mat-flat-button color="accent">Cancel</button>
</div>