<div class = 'dialog-wrapper'>
    <form name = 'candidateForm' class="candidate-form" >

        <h2>Add Candidate</h2>
        <hr>
        
           
        
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input required   [(ngModel)]="fullName" name = 'fullName' matInput >
            </mat-form-field>
            
        
        
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input required type="email" [(ngModel)]="email" name = 'emailInput' matInput placeholder="">
             
            </mat-form-field>
          </p>
      
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input required [(ngModel)]="dateOfBirth" name = 'birthDateInput' type="date" matInput placeholder="">
            </mat-form-field>
          </p>
        
       
        <p>
            <mat-form-field appearance="outline">
              <mat-label>Contact Number</mat-label>
              <input required [(ngModel)]="contact" name = 'contactInput' matInput placeholder="">
            </mat-form-field>
          </p>
      

      </form>
      <button (click)="submit()" mat-flat-button color="primary">Submit</button>
      <button (click)="closeDialog()" mat-flat-button color="accent">Cancel</button>
</div>